
.navbar,
footer {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.text-center.title{
font-family: 'Outfit', sans-serif;
font-size: 40px; 
font-weight: 700;
}

.text-center.intro{
font-family: 'Public Sans', sans-serif;
font-size: 16px; 
font-weight: 400;
}

.card-text{
font-size:14px; 
font-weight: 400;
}

.card-title{
font-weight: 600;
}

.custom-nav {
background-color: #466937;
}


.btn.custom-btn{
  background-color: #466937;
  border-color: #466937;
  color: white;
}

.btn.custom-btn:hover {
background-color: #35552a; 
border-color: #35552a;
}

footer {
font-family: 'Public Sans', sans-serif;
font-size: 14px;
font-weight: 400;
}


.p{
font-size:14px; 
font-weight: 400;
}

.row{
  padding-left: 12px;
  padding-right: 12px;
}

/* Reset Bootstrap behavior properly */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }

  .navbar-collapse {
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: block !important;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }
}

